

h1 {
    text-align: center;
    color: darkgreen;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.link {
    text-emphasis: none;
    text-align: center;
}